[Unit]
Description=Borg backup job

[Service]
Environment="BORG_REPO=rsync.net:Backup"
Environment="XDG_CONFIG_HOME=%h/.config"
ExecStart=systemd-inhibit --what=sleep --why="Backup running" %h/.local/bin/borg-backup
Type=oneshot
