[Desktop Entry]
Name=LibreWolf
Exec=librewolf %u
Terminal=false
Type=Application
Categories=Network;WebBrowser;
MimeType=x-scheme-handler/http;x-scheme-handler/https;text/html;
NoDisplay=true

